@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cl-blue-600: #2563eb;
}

@layer components {
  .linkUnderlineHover {
    position: relative;
  }

  .linkUnderlineHover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--cl-blue-600);
    transform-origin: 100% 50%;
    transition: all 0.3s ease-in-out;
    transform: scaleX(0);
    transform: scaleY(1);
    transform: scaleZ(1);
    will-change: transform;
  }

  .linkUnderlineHover:hover::before {
    width: 100%;
    transform-origin: 100% 0;
    transform: scaleX(1);
    transform: scaleY(1);
    transform: scaleZ(1);
  }
}

.wrapper {
  @apply container px-4 mx-auto;
}

.subtitle {
  @apply uppercase tracking-[3px] text-[12.5px] mb-5 inline-block text-gray-500;
}

.transition {
  @apply duration-300 transition-all ease-in-out;
}
